@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

body {
	background-color: #F1F1F1;
	font-family: 'Archivo Narrow', 'Arial';
}

h1 {
	text-align: center;
	padding: 10px;
	color: #1A5157;
}

h2 {
	text-align: center;
	color: #03212E;
}

h3 {
	text-align: center;
	font-weight: bold;
	color: black;
	font-weight: bold;
}

#marco {
	margin: 0 auto;
	padding: 10px;
	margin: 10px;
}

div {
	margin: 0 auto;
}

#contenedor {
	display: flex;
	flex-wrap: wrap;
}

.vertical {
	padding: 20px;
	width: 600px;
	height: 400px;
}

.centrado {
	display: block !important;
	margin: auto !important;
}

.contenido {
	width: 100%;
}

.contenido input {
	display: inline-block;
	width: auto;
	margin-bottom: 10px;
}

.contenido label {
	margin: .4em 0;
	width: 25%;
	float: left;
}