<style>
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Josefin+Sans|Raleway');

<!-- General -->


*{
	padding:0;
	margin:0;
}
body {
    background: -webkit-linear-gradient(orange, pink);
    background: -moz-linear-gradient(orange, pink);
    background: -o-linear-gradient(orange, pink);	 
}

h1{
	text-align:center;
	padding:10px;
	font-family: 'Raleway', sans-serif;
	color:#1A5157;
}
h2{
	text-align:center;	
	font-family: 'Fjalla One', sans-serif;
	color:#03212E;	
}
h3{
	font-family: 'Josefin Sans', sans-serif;
	text-align:center;
	font-weight:bold;
	color:black;
	font-weight:bold;
	
}

 #marco {
 	margin: 0 auto;
    padding: 10px;
    margin: 10px;
}
    div {
      margin: 0 auto;
    }
#contenedor {



    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	

    -webkit-flex-wrap: wrap;
    flex-wrap:wrap;
}
table,td{
	border:1px,solid black;
}


.vertical {

	/*para Firefox*/
  -moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
  -webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
  border-radius: 15px 15px 15px 15px;
  padding:20px;
  border:1px solid black;
 
  width:600px;
  height:400px;
}


.contenido {

    width: 400px;
    font: normal bold 12px Verdana, Arial;
}

.contenido input {
    display: inline-block;
    width: auto;
    margin-bottom: 10px;
}
.contenido label {
  margin: .4em 0;
  width: 25%;
  float: left;

}

<!-- Botton Style -->

.verde{
  background: #2ECC71; 
  border: 1px solid #27AE60;
}

.verde:hover{
  background: #32db78;
}

.rojo{
  background: #E74C3C;
  border: 1px solid #C0392B;
}

.rojo:hover{
  background: #ff5242;
}

</style>


